BasedOnStyle: Google
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterClass: false
  AfterNamespace: false
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ColumnLimit: 0